@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* variable */
:root{
    --font-color:#000000;
    --primary-color:#d1ad90;
    --secondary-color: #666;
    --bg-color:#f7f7f7;
    --theme-color:#f29f7e;

}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

ul,li{
    list-style: none;
    text-decoration: none;
}

a{
    color: var(--font-color);
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    color: var(--primary-color);
    padding-bottom: 5px;
}

img{
    max-width: 100%;
    display: block;
}

/* header-section */
.header-topbar{
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px;
}

nav ul{
    display: flex;
    gap: 50px;
}

.header-icons{
    display: flex;
    gap: 20px;
}

.row{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.social-media{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

/* banner-section */

.hero-section {
    background-image: url('image/hero-img.jpg');
    background-position: center;
    background-size: cover;
    padding: 150px;
    color: #fff;
    font-size: 40px;
    position: relative;
}

.hero-section::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.banner-caption{
    position: relative;
    z-index: 1;
}
.hero-section span{
    font-family: "Playfair Display", serif;
    font-size: 40px;
}
.hero-section .banner-title{
    font-family: "Playfair Display", serif;
    font-size: 70px;
}

.hero-section p{
    font-size: 18px;
    padding-bottom: 16px;
}

button{
    padding: 15px 30px;
    border-radius: 30px;
    border-width: 3px;
    border-color: var(--theme-color); 
}

button:hover{
    background-color: var(--theme-color);
    color: #fff;
    cursor: pointer;
}

.section-aboutus{
    padding-top:100px;
    background-color: var(--bg-color);
}

.banner-content{
    text-align: center;
    padding: 0px 200px;
    color: var(--secondary-color);
}

.title-text{
    font-size: 40px;
    font-weight: 400;
    color: #000;
}


.design{
    padding: 20px 0px;
    display: inline-block;
}

.video-container{
    padding-top: 25px;
}

.video-container iframe{
    width: 100%;
}

/* category-section */

.category-list{
    padding-top: 100px;
}

.category-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    padding: 50px;
}

.box-description .title_block{
    font-size: 40px;
    font-weight: 400;
}

.box-img{
    flex-basis: 50%;
}

.box-img img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.box-description .item-description{
    padding-bottom: 50px;
}

.category-item .box-img{
    width: 100%;
}

.collection p{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding: 75px 0px;
}


/* footer-section */
.footer-center{
    display: flex;
    padding: 100px 0px;
    font-size: 14px;
}

.footer-center a:not(:hover){
    color: var(--secondary-color);
}

.footer-links{
    width: 45%;
}

.footer-content{
    display: flex;
    gap: 50px;
}

.footer-content li{
    padding-bottom: 10px ;
}

.policies {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    background-color: var();
    color: var(--secondary-color);
    font-size: 14px;

}

.policies a:not(:hover){
    color: var(--secondary-color);
}
.terms {
    display: flex;
    gap: 15px;
}

/* Contact css */

.form-container{
    text-align: center;
    padding: 100px;
    background-color: var(--bg-color);
}

.contact-box h4{
    font-size: 29px;
    font-weight: 400;
}

.form-content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 30px;
}

.info{
    display: flex;
    gap: 30px;
}

.info input{
    flex: 1;
}

.form-container input,textarea{
    padding: 8px;
}

/* shop page */
.product-content{
    background-color: var(--bg-color);
}
.product-content .container{
    display: flex;
    gap: 70px;
}

.categories,.color-selection{
    padding-top: 30px;
}

.sidebar h3{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 30px;
}

.list-block{
    padding-bottom: 20px;
}

.products h2{
    font-size: 36px;
    font-weight: 400;
    padding: 20px;
}

.row{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.row img{
    height: 330px;
    padding-bottom: 20px;
}

.img-container .title{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

.img-container .price{
    font-size: 16px;
    font-weight: 700;
    color: var(--theme-color);
    text-align: center;
}

/* story psge */
.story-content{
    text-align: center;
}

.text-block{
    padding-bottom: 100px;
}